.detail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin-top: 30px;
}
.detail-container img {
  width: 90%;
  height: 180px;
}
.information-container {
  padding-left: 15px;
}
.detail-name {
  color: #222222;
  font-weight: 700;
  margin: 20px 0;
}
.detail-item {
  font-size: 14px;
  margin-bottom: 5px;
}
.detail-item span {
  font-weight: 400;
  color: #484848;
}
.other-details {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-height: 190px;
  margin-top: 20px;
}

.other-details .name {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}
.other-details p {
  font-size: 16px;
  font-weight: 700;
  margin-top: 0px;
}
.back-button--container {
  display: flex;
  width: 100%;
}
.back-button {
  color: #484848;
  border: solid #e8e8e849 2px;
  margin: 20px 0;
  padding: 5px 10px;
  border-radius: 5px;
  margin-left: 30px;
  box-shadow: 5px 5px 5px #6f6f6f49;
}
@media screen and (min-width: 769px) {
  .information-container {
    width: 60%;
  }
  .detail-container {
    flex-direction: row;
    align-items: flex-start;
    margin-left: 0;
    padding: 0;
  }
  .detail-container .information-container {
    display: flex;
    align-items: flex-start;
    margin-left: 40px;
    margin-top: 0;
    padding: 0;
  }
  .detail-name {
    margin-top: 10px;
  }
  .detail-container img {
    width: 50%;
    height: 100%;
  }
  .information {
    display: flex;
  }
  .main-details,
  .other-details {
    width: 50%;
  }
  .other-details {
    margin-top: 0;
    margin-left: 10px;
  }
}
